## (ANS.1)

"hello"=value

-87.8= value

-= expression

/=expression

+=expression

6=value

# (ANS.2)
VARIABLE: we can say that variable is something which points to a memory location 
          which has some value stored in it.
          variable can have any name but it should not be a keyword or should follow some
          nominclature rules.


STRING : string is a datatype in python  which contains a sequence of characters and 
         enclose within the "" or ''.
         their is no such restrictions on string to have a value, it can have any sequence of characters it
         can be a keyword also.

In [14]:
Name="rajat"
Name

'rajat'

 "Name" is variable which is of string datatype as it contains a sequence of characters.

# (ANS.3)  
Three different datatypes

1.INTEGER

Integer is the datatype that contains only whole number it does not contain the fractional part of the number.

In [15]:
a=10
print(a)

10

In [16]:
a=int(3.5)
print(a)

3

as we saw in above example on converting 3.5 in integer value than it skips the fractional part of the number which
is 0.5 and it prints only 3.

2.STRING
Stringis a datatype that have a sequence of characters which can be anything 
it does not require that sequence of characters to make any sense and the sequence 
of character should inclose within '' or "" .

In [17]:
a="Rajat Chauhan"
b="Rajat Chauhan"
print(a)
print(b)

Rajat Chauhan
Rajat Chauhan

3.FLOAT
Float is the datatype that contains whole part of a number as well as fractional part which is a real number.

In [18]:
a=float(3.5)
a

3.5

# (ANS.4)

An expression is made up of the combination of operands and operators


An expression gives us the value after evaluationg all the operators on the given operands and 
the evaluation of operators is based on the presedence of the operator .Operator with 
the higher presedence will be evaluated first and the operators with the same presedence
will be evaluated on the basis of associativity it is either from left to right or right to left.

# (ANS.5)

expressions are the subset of statements and it is a piece of code that can be evaluated
to get a value.while statement is a block of code that performs a specific action or a task

# (ANS.6)
bacon will contain 23

# (ANS.7)

'spam'+'spamspam'='spamspamspam'

'spam'*3='spamspamspam'

# (ANS.8)

"eggs" is a valid variable because it is starting with a letter and "100" is 
invalid because it is starting with a digit which is violing the rule of nominclature of variable

# (ANS.9)

str() function to convert into a string

float() function to convert into a flaoting point number

int() function to convert into a integer

In [30]:
value=89.9
float(value)

89.9

In [31]:
value=89.9
int(value)

89

In [32]:
value=89.9
str(value)

'89.9'

# (ANS.10)

'i have eaten'+99+'burritos' this is causing error because we are trying to concatinate an
integer with a string which is not valid.
we can fix it by enclosing 99 within ' '.