# (ANS.1)

What exactly is [ ]?

Ans: The empty list represented by [] is a list that contains no items. This is similar to '' which represents an empty

# (ANS.2)

In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [2]:
spam=[2,4,6,8,10]
spam[2]="hello"
print(spam)

[2, 4, 'hello', 8, 10]

# Let's pretend the spam includes the list ['a','b','c',d'] for the next three queries.

# (ANS.3)

What is the value of spam[int(int('3'*2)//11)] ?

In [3]:
spam=['a','b','c','d']
spam[int(int('3'*2)//11)]

'd'

# (ANS.4)

What is the value of spam[-1]?

In [4]:
spam=['a','b','c','d']
spam[-1]

'd'

# (ANS.5)

 What is the value of spam[:2]?

In [5]:
spam=['a','b','c','d']
spam[:2]

['a', 'b']

# Let's pretend bacon has the list [3.14,'cat',11,'cat',True] for the next three question

# (ANS.6)

 What is the value of bacon.index('cat')?

In [6]:
bacon=[3,14,'cat',11,'cat',True]
bacon.index('cat')

2

In [7]:
# index function returns the index of first occurence of the given value

# (ANS.7)

How does bacon.append(99) change the look of the list value in bacon?

In [1]:
bacon=[3.14,'cat',11,'cat',True]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [2]:
#append function will append the given value in the last of the given list

# (ANS.8)

How does bacon.remove('cat') change the look of the list in bacon?

The remove function remove the first occurence of the given element from the list

In [3]:
bacon=[3.14,'cat',11,'cat',True,99]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

# (ANS.9)

what are the list concatenation and list replication operations?

The operator for list concatenation is +, while the operator for replication is *.

In [4]:
L1=[1,2,3]
L2=[4,5,6]
print(L1+L2)
print(L1*2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]

# (ANS.10)

what is the difference between the list method append() and insert()?

While append() will add values only to the end of a list, insert() can add them anywhere in the list.

In [6]:
L1=[1,2,3,4]
L1.append(5)
L1.insert(2,6)
L1

[1, 2, 6, 3, 4, 5]

# (ANS.11)

What are the two methods for removing items from a list?

Their are two methods first is del statement and other is remove() function

# (ANS.12)

Describe how list values and string values are identical.

len() function can used for both string as well as list, both have indexes and can be sliced can be used in for loop.

# (ANS.13)

# What's the difference between tuples and lists?

Tuples are immutable but we can acces to the elements thorugh indexing but we can not the change the value in tuples and tuples can be slicable.
Lists are mutable,indexable and slicable the value canbe changed in lists

tuples are represented by() and lists are represented by[]

# (ANS.14)

How do you type a tuple value that only contains the integer 42?

The trailing comma is compulsory otherwise its considered as a int

In [8]:
T1=(42)
T2=(42,)
print(type(T1))
print(type(T2))

<class 'int'>
<class 'tuple'>

# (ANS.15)

How do you get a list value's tuple form? How do you get a tuple value's list form?

The tuple() and list() functions are used to convert a list into tuple or a tuple into a list

# (ANS.16)

Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

They contain refrences to list values

# (ANS.17)

How do you distinguish between copy.copy() and copy.deepcopy()?

The copy.copy() function will do a shallow copy of a list and the copy.deepcopy() function will do a deep copy of a list

copy.deepcopy() will duplicate any lists inside the list